@import 'colors.scss';
@import 'base.scss';
@import 'flex-grid.scss';
@import 'buttons.scss';
@import 'global-nav.scss';
@import 'util.scss';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700');

.container {
    // narrow width for content containers
    max-width: 906px;
    @media (min-width: 1000px) {
        max-width: 1360px;
    }
}

.container_full {
  padding: 0 40px;
  @media (max-width: 550px) {
    padding: 0 20px;
  }
}

p {
    margin-bottom: 1rem;
}

/*
 Form
---------------------------------------------*/

input[type=text] {
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #277f83;
  width: 80%;
  margin: 0;
  background: transparent;

  &:focus {
    border: none;
    border-bottom: 2px solid #DCEDC8;
  }
}

label {
  font-weight: 300;
  color: #2a3e3f;
}


/*
 Sections
---------------------------------------------*/

section.hero {
    color: #fff;
    background: $black;
    background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, linear-gradient(to right, $black, #000000);

    @media (max-width: 550px) {
      padding-top: 90px;
      padding-bottom: 80px;
      background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px / auto 110%, linear-gradient(to right, $green, #80cbc4);

      .cta { text-align: center; }
    }

    &::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0;
    }

    .logo {
      img {
        height: 2em;
        margin-bottom: 4em;
      }
    }

    .hero-heading {
      text-transform: uppercase;
      font-weight: bold;
    //   font-size: 6rem;
    //   line-height: 6rem;
      margin-bottom: 0;
    }

    .lead {
        width: 80%;
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 300;
    }

}

section.page-top h3 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .5;
}

.hireus-form-container {
  position: relative;

  form {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    h5 {
      color: #d2dfdf;
      font-weight: 400;
      border: none;
    }

    input[type=text] {
      outline: none;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #F5F5F5;
      width: 100%;
      margin: 0;
      background: transparent;

      &:focus {
        border-color: $white;
        border-width: 2px;
      }
    }
    label {
      font-weight: 400;
      color: #d2dfdf;
    }

    &.on-white {
      h5 { color: inherit; }
      input[type=text] {
        border-bottom: 1px solid #999;
        &:focus {
          border-color: $black;
          border-width: 2px;
        }
      }
      label {
        color: inherit;
      }
    }
  }
}

.def-list {
    .row {
        padding: 5px;
        border-radius: 4px;
        margin-bottom: 4px;

        .term {
            font-size: 1.3em;
            font-weight: 400;
            color: #277f83;
        }
        .def {
            margin: 0;
        }
    }
    .row:nth-child(odd) {
        background-color:#f5f5f5;
    }
    .row:nth-child(even) {
        background-color:#ffffff;

    }
}

.tag-heading {
    font-weight: 400;
    margin-top: 8px;
}

ul.tag-list {
    list-style: none;
    display: inline;
    margin: 0;

    li {
        display: inline-block;
        padding: 4px 6px;
        background-color: #277f83;
        color: #fff;
        border-radius: 2px;
        font-size: .8em;
        margin-right: 4px;
    }
}


// Default section alignment (mobile first)

// Section alignment - larger than mobile
@media (min-width: 320px) {}
@media (min-width: 550px) {}
@media (min-width: 750px) {}
@media (min-width: 1000px) {}

.team-grid {
  display: flex;
  flex-wrap: wrap;
//   justify-content: space-between;
  margin-bottom: 25px;
}
.team-image {
//   width: 100%;
//   position: relative;
//   margin: 5px;
    box-sizing: border-box;
    margin: 5px;

  img {
    width: 100%;
    display: inline-block;
    transition: all .3s linear;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 5px solid $orange;
    box-sizing: border-box;

    &:hover {
      filter: grayscale(0%);
    }
  }
}
.team-overlay {
    // display: inline-block;
    z-index: 18;
    font-size: .9em;
    padding: 4px 8px;
    text-align: center;

    .name {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
    }
    .title {
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 200;
      color: #f4825b;
    }
}

.card {
    position: relative;
    padding: 15px;
    // margin-bottom: 10px;
    height: 100%;
    // min-width: 260px;
    box-sizing: border-box;

    &.role {
        padding-bottom: 85px;
        // margin-bottom: 2em;
        // min-width: 290px;

        p {
            margin-top: .5em;
        }
        .role-header {
            max-height: 90px;
            position: relative;
            min-height: 90px;
            height: 90px;

            h5 {
                /* padding-right: 90px; */
                position: relative;
                display: block;
                width: 60%;
                top: 50%;
                /* left: 50%; */
                transform: translateY(-50%);
                margin: 0;
                line-height: 1.3;
                // margin-right: 90px;
            }
            .role-avatar {
                float: right;
                display: inline-block;
                position: relative;
                right: 0px;
                width: 40%;
                height: auto;
                z-index: 1;
                min-height: 85px;

                img {
                    position: absolute;
                    top: 4px;
                    left: 15px;
                    width: 85px;
                }

                &:before {
                    content: ' ';
                    display: inline-block;
                    width: 85px;
                    height: 85px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: #fff;
                    border-radius: 50%;
                    z-index: -1;
                    opacity: .6;
                }
            }
        }
    }
    h5 {
        color: #F5F5F5;
        text-transform: none;
        font-weight: 500;
        font-size: 1.6em;
        margin-right: 2em;
    }
    p {
        padding: 0 5px;
        opacity: .7;
        margin-bottom: 0;

        &:before {
            content: " ";
            background-color: rgba(255, 255, 255, 0.43);
            display: block;
            height: 2px;
            width: 10%;
            margin-bottom: 5px;
        }
    }

    &.blue {
        background-color:#277f83;
        color: #fff;
    }
    &.teal {
        background: #70c6ac;
        color: #2a3e3f;
    }
    &.green {
        background-color: #95b25b;
        color: #fff;
    }
    &.light-green {
        background-color: #9bca3b;
        color: hsla(183, 54%, 26%, 1);
    }
    &.orange {
        background-color: $orange;
        color: #fff;
    }
    &.gray {
        background-color: #839fa0;
        color: #fff;
    }
    &.light {
        background-color: #f5f5f5;
        color: #2a3e3f;

        h5 { color: #277f83; }
        p:before {
            background-color: rgba(39, 127, 131, .43);
        }
    }
    &.dark {
        background-color: #839fa0;
        color: #fff;

        h5 { color: #fff; }
    }

    // full length button on bottom of card
    .button.bottom {
        position: absolute;
        display: block;
        width: calc(100% - 30px);
        bottom: 0px;
        left: 0px;
        margin: 15px;
    }
}
.card-icon-corner {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    font-size: 1rem;
    color: rgba($white, 0.7);
}

.coupon {
    background: rgba(0, 0, 0, 0.13);
    padding: 8px;
    border-radius: 8px;
    font-size: .8em;
    margin-bottom: 10px;

    p { margin-bottom: 0; }

    .burrito {
        float: left;
        height: 60px;
        transform: rotate(45deg);
        padding: 0 10px;
    }
}

.step-number {
    font-weight: 700;
    color: #95b25b;
}

.block-heading {
    text-transform: none;
    font-weight: 700;
    margin-bottom: 0;
}
.block {
    padding: 10px;
}

.bg-pattern {
    margin:0;
    padding: 0;
    position: relative;

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../images/texture_dots-circle-grey.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40em;
        opacity: .6;
    }

    &.left-side {
        &:before {
            background-position: -20em 0px;
        }
    }

    &.right-side {
        &:before {
            background-position: 140% 0px;
        }
    }

}

// .role-avatar {
//     float: right;
//     display: inline-block;
//     position: absolute;
//     right: 15px;
//     width: 90px;
// }

.bg-pattern {
    overflow: hidden;
}

.page-top .row .columns.twelve {
    position: relative;
}

.page-ref {
    position: absolute;
    top: 0.7em;
    left: 0px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .2em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px 6px;
    border-radius: 4px;
}

.left-offset-to-bg {
    position: absolute;
    right: -5%;
    top: 0px;
    opacity: 0;     // hide through opacity

    @media (min-width: 400px) {
        opacity: 0.1;
        height: 60vh;
        right: 50%;
        top: -5em;
    }
    @media (min-width: 550px) {
        opacity: 0.1;
        height: 60vh;
        right: 60%;
        top: -5em;
    }
    @media (min-width: 550px) and (orientation: landscape) {
            opacity: .8;
            right: 0px;
            top: 0px;
            height: 80vh;
    }
    @media (min-width: 750px) {
        opacity: 0.8;
        height: 40vh;
        top: 0px;
        right: 0px;
    }
    @media (min-width: 1000px) {
        opacity: 0.8;
        top: -1em;
        height: 35vh;
    }
    @media (min-width: 1000px) and (orientation: landscape) {
        height: 30vw;
    }
    @media (min-width: 1200px) {
        opacity: 0.8;
        right: 20%;
        top: -1em;
    }
    @media (min-width: 1200px) and (orientation: landscape) {
        top: -2em;
        right: 0%;
        height: 20vw;
    }
}

img.training-logo {
    filter: grayscale(100%);
}
