// Base Styles for site
//---------------------------------------------------------------------------
@import 'colors.scss';
@import 'util.scss';

// Font-Size
$base-font-size: 1em;

.bg-gradient-blue-orange {
    background: linear-gradient(to right, #277f83 20%, #ffcdbd 100%);
}
.bg-gradient-gray-lightblue {
    background: linear-gradient(to right, #2a3e3f, #b8f6f9);
}
.bg-gradient-darkorange-lightorange {
    background: linear-gradient(to right,#f05e2c, #fbd7cb);
}
.bg-gradient-darkgray-lightgray {
    background: linear-gradient(to right, #4e6465, #bacece);
}
.bg-gradient-orange-lightblue {
    background: linear-gradient(to right, #f05e2c, #72d0d5);
}
.bg-gradient-purple-lightblue {
    background: linear-gradient(to right, #ae3378, #72d0d5);
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,body {
    font-size: 17px;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.6;
    font-family: 'Fira Sans';
    font-weight: 200;
    color: $black;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a, a:visited, a:link {
    text-decoration: none;
    color: $green;
}

sup { color: red }

p { font-weight: 300; }

// utility classes
.u-img-responsive {
    max-width: 100%;
    height: auto;
}

// Ability to display equal-height columns
// retaining responsiveness - Flex! FTW
// gutter = 10px
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.row.display-flex > [class*='column'] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  float: none;
  padding: 0.5rem;
  margin-left: 0px;     // override skeleton's margins
}

@media only screen and (min-width : 320px) and (max-width : 560px) {
	body { -webkit-text-size-adjust: none; }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    letter-spacing: normal;
    line-height: 1.1;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

.display-1 { font-size: 6rem; }
.display-2 { font-size: 5.5rem; }
.display-3 { font-size: 4.5rem; }
.display-4 { font-size: 3.5rem; }

@media (min-width: 550px) {
    // override skeleton sizing
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.25rem; }
    h6 { font-size: 1rem; }
}

section {
    position: relative;
    padding: 40px 0px 40px 0px;
    margin: 0 auto;

    h5 {
        color: $orange;
        // border-bottom: 1px solid #a0bbbc;
        // text-transform: uppercase;
        // font-size: 1.4em;
        // font-family: 'Raleway', sans-serif;
    }

    h3 {
        font-weight: 400;
    }

    // @media (max-width: 550px) {
    //     h5 { font-size: 1.8em; }
    // }

    &.callout {
        color: #fff;
        margin-top: 25px;

        p {
            font-size: 1.8rem;
            line-height: 1.2;
            margin: 0px 0px 2.5rem;
            opacity: .8;
            // padding: 0 4rem;
        }

        h3 + p {
            font-size: 1.2rem;
            padding: 0;
        }
    }
    &.callout,
    &.brushed {
        &.bg-gray {
            @include brushed($color_cambridge_blue);
        }
        &.bg-green {
            @include brushed($color_turtle_green);
        }
        &.bg-blue {
            @include brushed($color_weldon_blue);
        }
    }

    &.hero {
        padding-top: 20vh;
        padding-bottom: 100px;
        margin: 0;
    }

    &.page-top {
        padding: 60px 0 45px;

        h2 {
            margin: 1.2em 0px .5em;
            color: #fff;
            opacity: .7;
            font-weight: 700;
        }
        p.page-leader {
            color: #fff;
        }
    }
}

// Per page customizations for global nav header
#header.page-service {
    &.affixed {
        @extend .bg-gradient-blue-orange;
        // background: linear-gradient(to right, #277f83 20%, #ffcdbd 100%);
    }
    @media (min-width: 550px) {
        .nav__list a.nav-link {
            color: #226e72;
            &:hover { color: #f5f5f5; }
            &.current { color: #fff; }
        }
    }
}
#header.page-careers {
    &.affixed {
        background: linear-gradient(to right, #2a3e3f, #b8f6f9);
    }
    @media (min-width: 550px) {
        .nav__list a.nav-link {
            color: #226e72;
            &:hover { color: #f5f5f5; }
            &.current { color: #fff; }
        }
    }
}
#header.page-playbook {
    &.affixed {
        // background: linear-gradient(to right, #f05e2c, #fbd7cb);
        @extend .bg-gradient-orange-lightblue;
    }
    @media (min-width: 550px) {
        .nav__list a.nav-link {
            color: #226e72;
            &:hover { color: #f5f5f5; }
            &.current { color: #fff; }
        }
    }
}
#header.page-about {
    &.affixed {
        // background: linear-gradient(to right, #688687, #bacece);
        @extend .bg-gradient-purple-lightblue;
    }
    @media (min-width: 550px) {
        .nav__list a.nav-link {
            color: #226e72;
            &:hover { color: #f5f5f5; }
            &.current { color: #fff; }
        }
    }
}

footer {
    position: relative;
    background-color: #444;
    color: #9E9E9E;
    min-height: 150px;
    padding-top: 90px;
    margin-top: 25px;

    &::before {
        @include brushed-top();
    }

    .heading {
        color: #ddd;
        margin-bottom: .2em;
    }
    p {
        font-weight: 200 !important;
        font-size: .9em !important;
    }
    address {
        font-size: .9em;
        font-weight: 200;
    }
    .oci-logo {
        height: 1.2em;
        vertical-align: middle;
    }
    .footer-logo {
        height: 2em;
        opacity: .7;
    }

}

.section h5  {
    color: #95b25b;
}


.hide { display: none }
.slide-up { top: -60px !important; }
.slide-down { top: 0px !important; }
.centered { text-align: center; }
.strike-through {
    color: #e22f2f;
    opacity: .5;
    text-decoration: line-through;
}

// Assumes parent is position: relative
.abs-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

p.quote {
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    color: #95b25b;
}
p.page-leader {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.25;
    width: 80%;
    @media (max-width: 550px) {
        width: 100%;
    }
}

@media (max-width: 550px) {
    p.primary { font-size: 1rem; }
}

ul.list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding-left: 16px;
    // font-size: .9em;

    &::before {
      height: 8px;
      width: 8px;
      background-color: $color_cambridge_blue;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      position: absolute;
      top: 8px;
      left: 0px;
    }
  }
}
