@mixin text-gradient ($from, $to) {
  color: $from;
  background: linear-gradient(to right, $from, $to 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
@mixin bg-gradient ($from, $to, $opacity: 0) {
  background-color: #fff;
  background: linear-gradient(to right, transparentize($from, 1 - $opacity), transparentize($to, 1 - $opacity) 80%);
}

//colors
$orange: rgba(244, 130, 91, 1);
$blue: rgba(70, 84, 162, 1);
$teal: rgba(112, 198, 172, 1);
$green: rgba(155, 202, 59, 1);
$purple: rgba(163,62,119,1);

.text-white { color: #fff !important; }
.text-orange { color: $orange !important; }
.text-green { color: $green !important; }
.text-teal { color: $teal !important; }
.text-blue { color: $blue !important; }
.text-purple { color: $purple !important; }
.bg-orange { background-color: $orange; }
.bg-green { background-color: $green; }
.bg-teal { background-color: $teal; }
.bg-blue { background-color: $blue; }
.bg-purple { background-color: $purple; }

$white: #ffffff;
$darkgray: #999999;
$gray: #dddddd;
$lightgray: #eeeeee;
$black: #666770;

.text-white { color: $white !important; }

// teal+blue monochrome palette
// https://coolors.co/277f83-b8f6f9-a0bbbc-2a3e3f-839fa0
$color_celadon_green: rgba(39, 127, 131, 1);
$color_diamond: rgba(184, 246, 249, 1);
$color_cambridge_blue: rgba(160, 187, 188, 1);
$color_gunmetal: rgba(42, 62, 63, 1);
$color_weldon_blue: rgba(131, 159, 160, 1);

.text-celadon_green { color: $color_celadon_green !important; }
.text-diamond { color: $color_diamond !important; }
.text-cambridge_blue { color: $color_cambridge_blue !important; }
.text-gunmetal { color: $color_gunmetal !important; }
.text-weldon_blue { color: $color_weldon_blue !important; }

// green monochrome w/ accent palette
// https://coolors.co/778952-95b25b-b9e562-9bca3b-ae3378
$color_camouflage_green: rgba(119, 137, 82, 1);
$color_turtle_green: rgba(149, 178, 91, 1);
$color_inchworm: rgba(185, 229, 98, 1);
$color_yellow_green: rgba(155, 202, 59, 1);
$color_maximum_red_purple: rgba(174, 51, 120, 1);

.text-camouflage_green { color: $color_camouflage_green !important; }
.text-turtle_green { color: $color_turtle_green !important; }
.text-inchworm { color: $color_inchworm !important; }
.text-yellow_green { color: $color_yellow_green !important; }
.text-maximum_red_purple { color: $color_maximum_red_purple !important; }

$color_tundora_approx: #444444;
$color_atlantis_approx: #9bca3b;
$color_bon_jour_approx: #e1e1e1;
$color_paradiso_approx: #277f83;
$color_yellow_green_approx: #c4e08b;
$color_conifer_approx: #b9e562;
$color_royal_heath_approx: #ae3378;
$white: #fff;


.text-gradient-orange-blue {
  @include text-gradient($orange, $blue);
}
.bg-gradient-orange-blue {
  @include bg-gradient($orange, $blue, .15);
}
.text-gradient-blue-teal {
  @include text-gradient($blue, $teal);
}
.bg-gradient-blue-teal {
  @include bg-gradient($blue, $teal, .15);
}
.text-gradient-teal-green {
  @include text-gradient($teal, $green);
}
.bg-gradient-teal-green {
  @include bg-gradient($teal, $green, .15);
}
.text-gradient-green-orange {
  @include text-gradient($green, $orange);
}
.bg-gradient-green-orange {
  @include bg-gradient($green, $orange, .15);
}
