/*
  Utility mixins and functions
--------------------------------------------------*/

.brushed-top {
  &::before {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    transform: scaleY(-1) scaleX(-1);
  }
}

.brushed-bottom {
  &::after {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}
.brushed {
  @extend .brushed-top;
  @extend .brushed-bottom;
}

@mixin brushed($bgcolor) {
  &::after {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  &::before {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    transform: scaleY(-1) scaleX(-1);
  }
  background-color: $bgcolor;
  padding: 50px 0;
}
@mixin brushed-top($bgcolor:$white) {
  @extend .brushed-top;
  background-color: $bgcolor;
  padding: 50px 0 0 0;
}
@mixin brushed-bottom($bgcolor:$white) {
  @extend .brushed-bottom;
  background-color: $bgcolor;
  padding: 0px 0 50px 0;
}
