@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700");
.text-white {
  color: #fff !important; }

.text-orange {
  color: #f4825b !important; }

.text-green {
  color: #9bca3b !important; }

.text-teal {
  color: #70c6ac !important; }

.text-blue {
  color: #4654a2 !important; }

.text-purple {
  color: #a33e77 !important; }

.bg-orange {
  background-color: #f4825b; }

.bg-green {
  background-color: #9bca3b; }

.bg-teal {
  background-color: #70c6ac; }

.bg-blue {
  background-color: #4654a2; }

.bg-purple {
  background-color: #a33e77; }

.text-white {
  color: #ffffff !important; }

.text-celadon_green {
  color: #277f83 !important; }

.text-diamond {
  color: #b8f6f9 !important; }

.text-cambridge_blue {
  color: #a0bbbc !important; }

.text-gunmetal {
  color: #2a3e3f !important; }

.text-weldon_blue {
  color: #839fa0 !important; }

.text-camouflage_green {
  color: #778952 !important; }

.text-turtle_green {
  color: #95b25b !important; }

.text-inchworm {
  color: #b9e562 !important; }

.text-yellow_green {
  color: #9bca3b !important; }

.text-maximum_red_purple {
  color: #ae3378 !important; }

.text-gradient-orange-blue {
  color: #f4825b;
  background: linear-gradient(to right, #f4825b, #4654a2 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-orange-blue {
  background-color: #fff;
  background: linear-gradient(to right, rgba(244, 130, 91, 0.15), rgba(70, 84, 162, 0.15) 80%); }

.text-gradient-blue-teal {
  color: #4654a2;
  background: linear-gradient(to right, #4654a2, #70c6ac 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-blue-teal {
  background-color: #fff;
  background: linear-gradient(to right, rgba(70, 84, 162, 0.15), rgba(112, 198, 172, 0.15) 80%); }

.text-gradient-teal-green {
  color: #70c6ac;
  background: linear-gradient(to right, #70c6ac, #9bca3b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-teal-green {
  background-color: #fff;
  background: linear-gradient(to right, rgba(112, 198, 172, 0.15), rgba(155, 202, 59, 0.15) 80%); }

.text-gradient-green-orange {
  color: #9bca3b;
  background: linear-gradient(to right, #9bca3b, #f4825b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-green-orange {
  background-color: #fff;
  background: linear-gradient(to right, rgba(155, 202, 59, 0.15), rgba(244, 130, 91, 0.15) 80%); }

.text-white {
  color: #fff !important; }

.text-orange {
  color: #f4825b !important; }

.text-green {
  color: #9bca3b !important; }

.text-teal {
  color: #70c6ac !important; }

.text-blue {
  color: #4654a2 !important; }

.text-purple {
  color: #a33e77 !important; }

.bg-orange {
  background-color: #f4825b; }

.bg-green {
  background-color: #9bca3b; }

.bg-teal {
  background-color: #70c6ac; }

.bg-blue {
  background-color: #4654a2; }

.bg-purple {
  background-color: #a33e77; }

.text-white {
  color: #ffffff !important; }

.text-celadon_green {
  color: #277f83 !important; }

.text-diamond {
  color: #b8f6f9 !important; }

.text-cambridge_blue {
  color: #a0bbbc !important; }

.text-gunmetal {
  color: #2a3e3f !important; }

.text-weldon_blue {
  color: #839fa0 !important; }

.text-camouflage_green {
  color: #778952 !important; }

.text-turtle_green {
  color: #95b25b !important; }

.text-inchworm {
  color: #b9e562 !important; }

.text-yellow_green {
  color: #9bca3b !important; }

.text-maximum_red_purple {
  color: #ae3378 !important; }

.text-gradient-orange-blue {
  color: #f4825b;
  background: linear-gradient(to right, #f4825b, #4654a2 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-orange-blue {
  background-color: #fff;
  background: linear-gradient(to right, rgba(244, 130, 91, 0.15), rgba(70, 84, 162, 0.15) 80%); }

.text-gradient-blue-teal {
  color: #4654a2;
  background: linear-gradient(to right, #4654a2, #70c6ac 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-blue-teal {
  background-color: #fff;
  background: linear-gradient(to right, rgba(70, 84, 162, 0.15), rgba(112, 198, 172, 0.15) 80%); }

.text-gradient-teal-green {
  color: #70c6ac;
  background: linear-gradient(to right, #70c6ac, #9bca3b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-teal-green {
  background-color: #fff;
  background: linear-gradient(to right, rgba(112, 198, 172, 0.15), rgba(155, 202, 59, 0.15) 80%); }

.text-gradient-green-orange {
  color: #9bca3b;
  background: linear-gradient(to right, #9bca3b, #f4825b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-green-orange {
  background-color: #fff;
  background: linear-gradient(to right, rgba(155, 202, 59, 0.15), rgba(244, 130, 91, 0.15) 80%); }

/*
  Utility mixins and functions
--------------------------------------------------*/
.brushed-top::before, .brushed::before, footer::before {
  content: '';
  background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
  height: 80px;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
  transform: scaleY(-1) scaleX(-1); }

.brushed-bottom::after, .brushed::after {
  content: '';
  background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0; }

.bg-gradient-blue-orange, #header.page-service.affixed {
  background: linear-gradient(to right, #277f83 20%, #ffcdbd 100%); }

.bg-gradient-gray-lightblue {
  background: linear-gradient(to right, #2a3e3f, #b8f6f9); }

.bg-gradient-darkorange-lightorange {
  background: linear-gradient(to right, #f05e2c, #fbd7cb); }

.bg-gradient-darkgray-lightgray {
  background: linear-gradient(to right, #4e6465, #bacece); }

.bg-gradient-orange-lightblue, #header.page-playbook.affixed {
  background: linear-gradient(to right, #f05e2c, #72d0d5); }

.bg-gradient-purple-lightblue, #header.page-about.affixed {
  background: linear-gradient(to right, #ae3378, #72d0d5); }

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  font-size: 17px;
  box-sizing: border-box;
  height: 100%;
  line-height: 1.6;
  font-family: 'Fira Sans';
  font-weight: 200;
  color: #666770;
  background-color: #fff; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a, a:visited, a:link {
  text-decoration: none;
  color: #9bca3b; }

sup {
  color: red; }

p {
  font-weight: 300; }

.u-img-responsive {
  max-width: 100%;
  height: auto; }

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.row.display-flex > [class*='column'] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  float: none;
  padding: 0.5rem;
  margin-left: 0px; }

@media only screen and (min-width: 320px) and (max-width: 560px) {
  body {
    -webkit-text-size-adjust: none; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  letter-spacing: normal;
  line-height: 1.1; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.display-1 {
  font-size: 6rem; }

.display-2 {
  font-size: 5.5rem; }

.display-3 {
  font-size: 4.5rem; }

.display-4 {
  font-size: 3.5rem; }

@media (min-width: 550px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1.5rem; }
  h5 {
    font-size: 1.25rem; }
  h6 {
    font-size: 1rem; } }

section {
  position: relative;
  padding: 40px 0px 40px 0px;
  margin: 0 auto; }
  section h5 {
    color: #f4825b; }
  section h3 {
    font-weight: 400; }
  section.callout {
    color: #fff;
    margin-top: 25px; }
    section.callout p {
      font-size: 1.8rem;
      line-height: 1.2;
      margin: 0px 0px 2.5rem;
      opacity: .8; }
    section.callout h3 + p {
      font-size: 1.2rem;
      padding: 0; }
  section.callout.bg-gray, section.brushed.bg-gray {
    background-color: #a0bbbc;
    padding: 50px 0; }
    section.callout.bg-gray::after, section.brushed.bg-gray::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0; }
    section.callout.bg-gray::before, section.brushed.bg-gray::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -25px;
      left: 0;
      transform: scaleY(-1) scaleX(-1); }
  section.callout.bg-green, section.brushed.bg-green {
    background-color: #95b25b;
    padding: 50px 0; }
    section.callout.bg-green::after, section.brushed.bg-green::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0; }
    section.callout.bg-green::before, section.brushed.bg-green::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -25px;
      left: 0;
      transform: scaleY(-1) scaleX(-1); }
  section.callout.bg-blue, section.brushed.bg-blue {
    background-color: #839fa0;
    padding: 50px 0; }
    section.callout.bg-blue::after, section.brushed.bg-blue::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0; }
    section.callout.bg-blue::before, section.brushed.bg-blue::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -25px;
      left: 0;
      transform: scaleY(-1) scaleX(-1); }
  section.hero {
    padding-top: 20vh;
    padding-bottom: 100px;
    margin: 0; }
  section.page-top {
    padding: 60px 0 45px; }
    section.page-top h2 {
      margin: 1.2em 0px .5em;
      color: #fff;
      opacity: .7;
      font-weight: 700; }
    section.page-top p.page-leader {
      color: #fff; }

@media (min-width: 550px) {
  #header.page-service .nav__list a.nav-link {
    color: #226e72; }
    #header.page-service .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-service .nav__list a.nav-link.current {
      color: #fff; } }

#header.page-careers.affixed {
  background: linear-gradient(to right, #2a3e3f, #b8f6f9); }

@media (min-width: 550px) {
  #header.page-careers .nav__list a.nav-link {
    color: #226e72; }
    #header.page-careers .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-careers .nav__list a.nav-link.current {
      color: #fff; } }

@media (min-width: 550px) {
  #header.page-playbook .nav__list a.nav-link {
    color: #226e72; }
    #header.page-playbook .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-playbook .nav__list a.nav-link.current {
      color: #fff; } }

@media (min-width: 550px) {
  #header.page-about .nav__list a.nav-link {
    color: #226e72; }
    #header.page-about .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-about .nav__list a.nav-link.current {
      color: #fff; } }

footer {
  position: relative;
  background-color: #444;
  color: #9E9E9E;
  min-height: 150px;
  padding-top: 90px;
  margin-top: 25px; }
  footer::before {
    background-color: #fff;
    padding: 50px 0 0 0; }
  footer .heading {
    color: #ddd;
    margin-bottom: .2em; }
  footer p {
    font-weight: 200 !important;
    font-size: .9em !important; }
  footer address {
    font-size: .9em;
    font-weight: 200; }
  footer .oci-logo {
    height: 1.2em;
    vertical-align: middle; }
  footer .footer-logo {
    height: 2em;
    opacity: .7; }

.section h5 {
  color: #95b25b; }

.hide {
  display: none; }

.slide-up {
  top: -60px !important; }

.slide-down {
  top: 0px !important; }

.centered {
  text-align: center; }

.strike-through {
  color: #e22f2f;
  opacity: .5;
  text-decoration: line-through; }

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

p.quote {
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  color: #95b25b; }

p.page-leader {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.25;
  width: 80%; }
  @media (max-width: 550px) {
    p.page-leader {
      width: 100%; } }

@media (max-width: 550px) {
  p.primary {
    font-size: 1rem; } }

ul.list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.list li {
    position: relative;
    padding-left: 16px; }
    ul.list li::before {
      height: 8px;
      width: 8px;
      background-color: #a0bbbc;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      position: absolute;
      top: 8px;
      left: 0px; }

.flex-grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem; }

.col {
  display: block;
  flex: 0 1 auto;
  width: calc(100% - 1.5rem);
  padding: 0.75rem; }

@media (min-width: 320px) {
  .col-xs-1 {
    width: calc(8.33333% - 1.5rem); }
  .col-xs-2 {
    width: calc(16.66667% - 1.5rem); }
  .col-xs-3 {
    width: calc(25% - 1.5rem); }
  .col-xs-4 {
    width: calc(33.33333% - 1.5rem); }
  .col-xs-5 {
    width: calc(41.66667% - 1.5rem); }
  .col-xs-6 {
    width: calc(50% - 1.5rem); }
  .col-xs-7 {
    width: calc(58.33333% - 1.5rem); }
  .col-xs-8 {
    width: calc(66.66667% - 1.5rem); }
  .col-xs-9 {
    width: calc(75% - 1.5rem); }
  .col-xs-10 {
    width: calc(83.33333% - 1.5rem); }
  .col-xs-11 {
    width: calc(91.66667% - 1.5rem); }
  .col-xs-12 {
    width: calc(100% - 1.5rem); } }

@media (max-width: 320px) {
  .col-xs-hidden {
    display: none !important; } }

@media (min-width: 550px) {
  .col-sm-1 {
    width: calc(8.33333% - 1.5rem); }
  .col-sm-2 {
    width: calc(16.66667% - 1.5rem); }
  .col-sm-3 {
    width: calc(25% - 1.5rem); }
  .col-sm-4 {
    width: calc(33.33333% - 1.5rem); }
  .col-sm-5 {
    width: calc(41.66667% - 1.5rem); }
  .col-sm-6 {
    width: calc(50% - 1.5rem); }
  .col-sm-7 {
    width: calc(58.33333% - 1.5rem); }
  .col-sm-8 {
    width: calc(66.66667% - 1.5rem); }
  .col-sm-9 {
    width: calc(75% - 1.5rem); }
  .col-sm-10 {
    width: calc(83.33333% - 1.5rem); }
  .col-sm-11 {
    width: calc(91.66667% - 1.5rem); }
  .col-sm-12 {
    width: calc(100% - 1.5rem); } }

@media (max-width: 550px) {
  .col-sm-hidden {
    display: none !important; } }

@media (min-width: 1000px) {
  .col-md-1 {
    width: calc(8.33333% - 1.5rem); }
  .col-md-2 {
    width: calc(16.66667% - 1.5rem); }
  .col-md-3 {
    width: calc(25% - 1.5rem); }
  .col-md-4 {
    width: calc(33.33333% - 1.5rem); }
  .col-md-5 {
    width: calc(41.66667% - 1.5rem); }
  .col-md-6 {
    width: calc(50% - 1.5rem); }
  .col-md-7 {
    width: calc(58.33333% - 1.5rem); }
  .col-md-8 {
    width: calc(66.66667% - 1.5rem); }
  .col-md-9 {
    width: calc(75% - 1.5rem); }
  .col-md-10 {
    width: calc(83.33333% - 1.5rem); }
  .col-md-11 {
    width: calc(91.66667% - 1.5rem); }
  .col-md-12 {
    width: calc(100% - 1.5rem); } }

@media (max-width: 1000px) {
  .col-md-hidden {
    display: none !important; } }

@media (min-width: 1200px) {
  .col-lg-1 {
    width: calc(8.33333% - 1.5rem); }
  .col-lg-2 {
    width: calc(16.66667% - 1.5rem); }
  .col-lg-3 {
    width: calc(25% - 1.5rem); }
  .col-lg-4 {
    width: calc(33.33333% - 1.5rem); }
  .col-lg-5 {
    width: calc(41.66667% - 1.5rem); }
  .col-lg-6 {
    width: calc(50% - 1.5rem); }
  .col-lg-7 {
    width: calc(58.33333% - 1.5rem); }
  .col-lg-8 {
    width: calc(66.66667% - 1.5rem); }
  .col-lg-9 {
    width: calc(75% - 1.5rem); }
  .col-lg-10 {
    width: calc(83.33333% - 1.5rem); }
  .col-lg-11 {
    width: calc(91.66667% - 1.5rem); }
  .col-lg-12 {
    width: calc(100% - 1.5rem); } }

@media (max-width: 1200px) {
  .col-lg-hidden {
    display: none !important; } }

.flex-item-center {
  align-self: center;
  text-align: center; }

.col-expand {
  flex-grow: 1; }

.text-white {
  color: #fff !important; }

.text-orange {
  color: #f4825b !important; }

.text-green {
  color: #9bca3b !important; }

.text-teal {
  color: #70c6ac !important; }

.text-blue {
  color: #4654a2 !important; }

.text-purple {
  color: #a33e77 !important; }

.bg-orange {
  background-color: #f4825b; }

.bg-green {
  background-color: #9bca3b; }

.bg-teal {
  background-color: #70c6ac; }

.bg-blue {
  background-color: #4654a2; }

.bg-purple {
  background-color: #a33e77; }

.text-white {
  color: #ffffff !important; }

.text-celadon_green {
  color: #277f83 !important; }

.text-diamond {
  color: #b8f6f9 !important; }

.text-cambridge_blue {
  color: #a0bbbc !important; }

.text-gunmetal {
  color: #2a3e3f !important; }

.text-weldon_blue {
  color: #839fa0 !important; }

.text-camouflage_green {
  color: #778952 !important; }

.text-turtle_green {
  color: #95b25b !important; }

.text-inchworm {
  color: #b9e562 !important; }

.text-yellow_green {
  color: #9bca3b !important; }

.text-maximum_red_purple {
  color: #ae3378 !important; }

.text-gradient-orange-blue {
  color: #f4825b;
  background: linear-gradient(to right, #f4825b, #4654a2 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-orange-blue {
  background-color: #fff;
  background: linear-gradient(to right, rgba(244, 130, 91, 0.15), rgba(70, 84, 162, 0.15) 80%); }

.text-gradient-blue-teal {
  color: #4654a2;
  background: linear-gradient(to right, #4654a2, #70c6ac 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-blue-teal {
  background-color: #fff;
  background: linear-gradient(to right, rgba(70, 84, 162, 0.15), rgba(112, 198, 172, 0.15) 80%); }

.text-gradient-teal-green {
  color: #70c6ac;
  background: linear-gradient(to right, #70c6ac, #9bca3b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-teal-green {
  background-color: #fff;
  background: linear-gradient(to right, rgba(112, 198, 172, 0.15), rgba(155, 202, 59, 0.15) 80%); }

.text-gradient-green-orange {
  color: #9bca3b;
  background: linear-gradient(to right, #9bca3b, #f4825b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-green-orange {
  background-color: #fff;
  background: linear-gradient(to right, rgba(155, 202, 59, 0.15), rgba(244, 130, 91, 0.15) 80%); }

.button {
  font-size: 0.9rem;
  height: auto;
  border-width: 2px;
  border-radius: 2px; }
  .button.button-primary {
    font-weight: 400;
    transition: all 0.3s ease;
    background-color: #a33e77;
    border-color: #a33e77;
    border-radius: 2px;
    color: #fff; }
    .button.button-primary:hover {
      transition: all 0.3s ease;
      background-color: #7e305c;
      border-color: #7e305c;
      color: #fff; }
    .button.button-primary:focus {
      background-color: #7e305c;
      border-color: #7e305c;
      color: #fff; }
  .button.button-primary-outline {
    background-color: transparent;
    border-color: #a33e77;
    color: #a33e77; }
    .button.button-primary-outline:hover {
      transition: all 0.3s ease;
      background-color: #a33e77;
      border-color: #a33e77;
      color: #fff; }
    .button.button-primary-outline:focus {
      background-color: #a33e77;
      border-color: #a33e77;
      color: #fff; }
  .button.button-secondary {
    font-weight: 400;
    transition: all 0.3s ease;
    background-color: #277f83;
    border-color: #277f83;
    border-radius: 2px;
    color: #fff; }
    .button.button-secondary:hover {
      transition: all 0.3s ease;
      background-color: #1b595c;
      border-color: #1b595c;
      color: #fff; }
    .button.button-secondary:focus {
      background-color: #1b595c;
      border-color: #1b595c;
      color: #fff; }
  .button.button-secondary-outline {
    background-color: transparent;
    border-color: #277f83;
    color: #277f83; }
    .button.button-secondary-outline:hover {
      transition: all 0.3s ease;
      background-color: #277f83;
      border-color: #277f83;
      color: #fff; }
    .button.button-secondary-outline:focus {
      background-color: #48c3c8;
      border-color: #48c3c8;
      color: #fff; }
  .button.button-white {
    font-weight: 400;
    transition: all 0.3s ease;
    background-color: #fff;
    border-color: #fff;
    border-radius: 2px; }
    .button.button-white:hover {
      transition: all 0.3s ease;
      background-color: white;
      border-color: white; }
    .button.button-white:focus {
      background-color: #e6e6e6;
      border-color: #e6e6e6; }
  .button.button-white-outline {
    background-color: transparent;
    border-color: #fff;
    color: #fff; }
    .button.button-white-outline:hover {
      transition: all 0.3s ease;
      border-color: #cccccc;
      color: #cccccc; }
    .button.button-white-outline:focus {
      border-color: white;
      color: #fff; }
  .button.small {
    font-size: .8rem;
    padding: 10px;
    line-height: .9em;
    margin: 0;
    font-weight: 400;
    border-radius: 2px; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#header.affixed {
  background-color: #9bca3b;
  background: linear-gradient(to right, #9bca3b, #80cbc4);
  box-shadow: 0 2px 4px -1px #607D8B;
  transition: background .3s linear; }
  #header.affixed .nav__list > li.cta {
    transition: all .3s ease-in-out;
    width: 160px;
    margin-left: 30px; }

#header {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  outline: none !important;
  background-color: transparent;
  transition: background .3s linear; }
  #header.on-white {
    background: linear-gradient(to right, #9bca3b, #80cbc4);
    box-shadow: 0 2px 4px -1px #607D8B;
    transition: background .3s linear; }

@media print {
  #header {
    display: none; } }

@media (max-width: 799px) {
  #header {
    height: 65px; } }

@media (min-width: 800px) {
  #header {
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 10px 40px 5px;
    width: auto; } }

.header__logo {
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  display: block;
  height: 39px;
  width: 116px; }

@media (max-width: 799px) {
  .header__logo {
    left: 40px;
    position: absolute;
    top: 20px;
    z-index: 20; } }

@media (max-width: 639px) {
  .header__logo {
    left: 20px; } }

@media (min-width: 800px) {
  .header__logo {
    position: relative;
    top: 4px; } }

.global-nav-container {
  display: block;
  overflow: visible;
  outline: none !important;
  z-index: 19; }

@media (max-width: 799px) {
  .global-nav-container {
    height: 100%; }
  .global-nav {
    animation: .1s fade-in .5s linear forwards;
    background: linear-gradient(to bottom, #277f83, #c4e08b);
    border: 5px solid #fff;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s transform cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transform: translate3d(100%, 0, 0); }
    .global-nav.open {
      transform: translate3d(0, 0, 0);
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      opacity: 1; } }

@media (min-width: 800px) {
  .global-nav-container {
    left: auto;
    position: absolute;
    right: 40px;
    top: 10px; }
  .global-nav {
    padding-top: 0; } }

@media print {
  .nav {
    display: none; } }

.global-nav {
  display: block; }

.nav__list {
  position: relative;
  list-style: none;
  padding: 0px; }
  .nav__list a {
    text-decoration: none;
    color: #277f83;
    display: block;
    letter-spacing: .06em;
    position: relative; }
    .nav__list a:hover {
      color: #fff; }
    .nav__list a.current {
      color: #fff;
      font-weight: 500; }
      .nav__list a.current:before {
        background: #1395ba;
        height: 2px; }

@media (max-width: 799px) {
  .nav__list {
    font-size: 25px;
    font-weight: 100;
    line-height: 1;
    text-align: center; }
    .nav__list a.nav-link {
      padding-bottom: 15px;
      color: #f1ffd6; }
      .nav__list a.nav-link:before {
        background: #dcdcdc;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        margin-left: -15px;
        position: absolute;
        width: 30px; }
      .nav__list a.nav-link.current {
        color: #fff;
        font-weight: 500; }
        .nav__list a.nav-link.current:before {
          background: #ae3378;
          height: 2px; }
    .nav__list > li + li {
      margin-top: 15px; } }

@media (min-width: 800px) {
  .nav__list {
    font-size: 0;
    line-height: 1;
    text-align: right; }
    .nav__list > li {
      display: inline-block;
      font-size: 16px;
      vertical-align: top; }
      .nav__list > li + li {
        margin-left: 30px; }
    .nav__list > li.cta {
      transition: all .3s ease-in-out;
      overflow: hidden;
      width: 0px;
      margin-left: 0; }
    .nav__list a.nav-link {
      padding: 11px 0; }
      .nav__list a.nav-link.current:before {
        background: #ae3378;
        bottom: 0;
        content: '';
        height: 2px;
        left: 50%;
        margin-left: -8.5px;
        opacity: .6;
        position: absolute;
        width: 17px; } }

@media (min-width: 800px) {
  .header__nav-button {
    display: none; } }

@media (max-width: 799px) {
  .header__nav-button {
    color: transparent;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    height: 59px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 59px;
    z-index: 20; }
    .header__nav-button:after, .header__nav-button:before {
      content: '';
      left: 50%;
      margin-left: -9.5px;
      position: absolute;
      top: 50%;
      transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 19px; }
    .header__nav-button:before {
      background: #fff;
      height: 2px;
      margin-top: -1px; }
    .header__nav-button:after {
      border: solid #fff;
      border-width: 2px 0;
      height: 12px;
      margin-top: -6px; }
    .header__nav-button.open:before {
      background: #fff;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: -1px; }
    .header__nav-button.open:after {
      background: #fff;
      border: none;
      height: 2px;
      margin-top: -1px;
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); } }

@media (max-width: 799px) {
  .nav__list a.button {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%); } }

/*
  Utility mixins and functions
--------------------------------------------------*/
.brushed-top::before, .brushed::before, footer::before {
  content: '';
  background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
  height: 80px;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
  transform: scaleY(-1) scaleX(-1); }

.brushed-bottom::after, .brushed::after {
  content: '';
  background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0; }

.container {
  max-width: 906px; }
  @media (min-width: 1000px) {
    .container {
      max-width: 1360px; } }

.container_full {
  padding: 0 40px; }
  @media (max-width: 550px) {
    .container_full {
      padding: 0 20px; } }

p {
  margin-bottom: 1rem; }

/*
 Form
---------------------------------------------*/
input[type=text] {
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #277f83;
  width: 80%;
  margin: 0;
  background: transparent; }
  input[type=text]:focus {
    border: none;
    border-bottom: 2px solid #DCEDC8; }

label {
  font-weight: 300;
  color: #2a3e3f; }

/*
 Sections
---------------------------------------------*/
section.hero {
  color: #fff;
  background: #666770;
  background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px/auto 110%, linear-gradient(to right, #666770, #000000); }
  @media (max-width: 550px) {
    section.hero {
      padding-top: 90px;
      padding-bottom: 80px;
      background: url(../images/logo-t-semi-opaque.svg) no-repeat top -20px right -20px/auto 110%, linear-gradient(to right, #9bca3b, #80cbc4); }
      section.hero .cta {
        text-align: center; } }
  section.hero::after {
    content: '';
    background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0; }
  section.hero .logo img {
    height: 2em;
    margin-bottom: 4em; }
  section.hero .hero-heading {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0; }
  section.hero .lead {
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 300; }

section.page-top h3 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .5; }

.hireus-form-container {
  position: relative; }
  .hireus-form-container form {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; }
    .hireus-form-container form h5 {
      color: #d2dfdf;
      font-weight: 400;
      border: none; }
    .hireus-form-container form input[type=text] {
      outline: none;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #F5F5F5;
      width: 100%;
      margin: 0;
      background: transparent; }
      .hireus-form-container form input[type=text]:focus {
        border-color: #fff;
        border-width: 2px; }
    .hireus-form-container form label {
      font-weight: 400;
      color: #d2dfdf; }
    .hireus-form-container form.on-white h5 {
      color: inherit; }
    .hireus-form-container form.on-white input[type=text] {
      border-bottom: 1px solid #999; }
      .hireus-form-container form.on-white input[type=text]:focus {
        border-color: #666770;
        border-width: 2px; }
    .hireus-form-container form.on-white label {
      color: inherit; }

.def-list .row {
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 4px; }
  .def-list .row .term {
    font-size: 1.3em;
    font-weight: 400;
    color: #277f83; }
  .def-list .row .def {
    margin: 0; }

.def-list .row:nth-child(odd) {
  background-color: #f5f5f5; }

.def-list .row:nth-child(even) {
  background-color: #ffffff; }

.tag-heading {
  font-weight: 400;
  margin-top: 8px; }

ul.tag-list {
  list-style: none;
  display: inline;
  margin: 0; }
  ul.tag-list li {
    display: inline-block;
    padding: 4px 6px;
    background-color: #277f83;
    color: #fff;
    border-radius: 2px;
    font-size: .8em;
    margin-right: 4px; }

.team-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px; }

.team-image {
  box-sizing: border-box;
  margin: 5px; }
  .team-image img {
    width: 100%;
    display: inline-block;
    transition: all .3s linear;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 5px solid #f4825b;
    box-sizing: border-box; }
    .team-image img:hover {
      filter: grayscale(0%); }

.team-overlay {
  z-index: 18;
  font-size: .9em;
  padding: 4px 8px;
  text-align: center; }
  .team-overlay .name {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500; }
  .team-overlay .title {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    color: #f4825b; }

.card {
  position: relative;
  padding: 15px;
  height: 100%;
  box-sizing: border-box; }
  .card.role {
    padding-bottom: 85px; }
    .card.role p {
      margin-top: .5em; }
    .card.role .role-header {
      max-height: 90px;
      position: relative;
      min-height: 90px;
      height: 90px; }
      .card.role .role-header h5 {
        /* padding-right: 90px; */
        position: relative;
        display: block;
        width: 60%;
        top: 50%;
        /* left: 50%; */
        transform: translateY(-50%);
        margin: 0;
        line-height: 1.3; }
      .card.role .role-header .role-avatar {
        float: right;
        display: inline-block;
        position: relative;
        right: 0px;
        width: 40%;
        height: auto;
        z-index: 1;
        min-height: 85px; }
        .card.role .role-header .role-avatar img {
          position: absolute;
          top: 4px;
          left: 15px;
          width: 85px; }
        .card.role .role-header .role-avatar:before {
          content: ' ';
          display: inline-block;
          width: 85px;
          height: 85px;
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: #fff;
          border-radius: 50%;
          z-index: -1;
          opacity: .6; }
  .card h5 {
    color: #F5F5F5;
    text-transform: none;
    font-weight: 500;
    font-size: 1.6em;
    margin-right: 2em; }
  .card p {
    padding: 0 5px;
    opacity: .7;
    margin-bottom: 0; }
    .card p:before {
      content: " ";
      background-color: rgba(255, 255, 255, 0.43);
      display: block;
      height: 2px;
      width: 10%;
      margin-bottom: 5px; }
  .card.blue {
    background-color: #277f83;
    color: #fff; }
  .card.teal {
    background: #70c6ac;
    color: #2a3e3f; }
  .card.green {
    background-color: #95b25b;
    color: #fff; }
  .card.light-green {
    background-color: #9bca3b;
    color: #1e6366; }
  .card.orange {
    background-color: #f4825b;
    color: #fff; }
  .card.gray {
    background-color: #839fa0;
    color: #fff; }
  .card.light {
    background-color: #f5f5f5;
    color: #2a3e3f; }
    .card.light h5 {
      color: #277f83; }
    .card.light p:before {
      background-color: rgba(39, 127, 131, 0.43); }
  .card.dark {
    background-color: #839fa0;
    color: #fff; }
    .card.dark h5 {
      color: #fff; }
  .card .button.bottom {
    position: absolute;
    display: block;
    width: calc(100% - 30px);
    bottom: 0px;
    left: 0px;
    margin: 15px; }

.card-icon-corner {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7); }

.coupon {
  background: rgba(0, 0, 0, 0.13);
  padding: 8px;
  border-radius: 8px;
  font-size: .8em;
  margin-bottom: 10px; }
  .coupon p {
    margin-bottom: 0; }
  .coupon .burrito {
    float: left;
    height: 60px;
    transform: rotate(45deg);
    padding: 0 10px; }

.step-number {
  font-weight: 700;
  color: #95b25b; }

.block-heading {
  text-transform: none;
  font-weight: 700;
  margin-bottom: 0; }

.block {
  padding: 10px; }

.bg-pattern {
  margin: 0;
  padding: 0;
  position: relative; }
  .bg-pattern:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../images/texture_dots-circle-grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40em;
    opacity: .6; }
  .bg-pattern.left-side:before {
    background-position: -20em 0px; }
  .bg-pattern.right-side:before {
    background-position: 140% 0px; }

.bg-pattern {
  overflow: hidden; }

.page-top .row .columns.twelve {
  position: relative; }

.page-ref {
  position: absolute;
  top: 0.7em;
  left: 0px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 6px;
  border-radius: 4px; }

.left-offset-to-bg {
  position: absolute;
  right: -5%;
  top: 0px;
  opacity: 0; }
  @media (min-width: 400px) {
    .left-offset-to-bg {
      opacity: 0.1;
      height: 60vh;
      right: 50%;
      top: -5em; } }
  @media (min-width: 550px) {
    .left-offset-to-bg {
      opacity: 0.1;
      height: 60vh;
      right: 60%;
      top: -5em; } }
  @media (min-width: 550px) and (orientation: landscape) {
    .left-offset-to-bg {
      opacity: .8;
      right: 0px;
      top: 0px;
      height: 80vh; } }
  @media (min-width: 750px) {
    .left-offset-to-bg {
      opacity: 0.8;
      height: 40vh;
      top: 0px;
      right: 0px; } }
  @media (min-width: 1000px) {
    .left-offset-to-bg {
      opacity: 0.8;
      top: -1em;
      height: 35vh; } }
  @media (min-width: 1000px) and (orientation: landscape) {
    .left-offset-to-bg {
      height: 30vw; } }
  @media (min-width: 1200px) {
    .left-offset-to-bg {
      opacity: 0.8;
      right: 20%;
      top: -1em; } }
  @media (min-width: 1200px) and (orientation: landscape) {
    .left-offset-to-bg {
      top: -2em;
      right: 0%;
      height: 20vw; } }

img.training-logo {
  filter: grayscale(100%); }
