.text-white {
  color: #fff !important; }

.text-orange {
  color: #f4825b !important; }

.text-green {
  color: #9bca3b !important; }

.text-teal {
  color: #70c6ac !important; }

.text-blue {
  color: #4654a2 !important; }

.text-purple {
  color: #a33e77 !important; }

.bg-orange {
  background-color: #f4825b; }

.bg-green {
  background-color: #9bca3b; }

.bg-teal {
  background-color: #70c6ac; }

.bg-blue {
  background-color: #4654a2; }

.bg-purple {
  background-color: #a33e77; }

.text-white {
  color: #ffffff !important; }

.text-celadon_green {
  color: #277f83 !important; }

.text-diamond {
  color: #b8f6f9 !important; }

.text-cambridge_blue {
  color: #a0bbbc !important; }

.text-gunmetal {
  color: #2a3e3f !important; }

.text-weldon_blue {
  color: #839fa0 !important; }

.text-camouflage_green {
  color: #778952 !important; }

.text-turtle_green {
  color: #95b25b !important; }

.text-inchworm {
  color: #b9e562 !important; }

.text-yellow_green {
  color: #9bca3b !important; }

.text-maximum_red_purple {
  color: #ae3378 !important; }

.text-gradient-orange-blue {
  color: #f4825b;
  background: linear-gradient(to right, #f4825b, #4654a2 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-orange-blue {
  background-color: #fff;
  background: linear-gradient(to right, rgba(244, 130, 91, 0.15), rgba(70, 84, 162, 0.15) 80%); }

.text-gradient-blue-teal {
  color: #4654a2;
  background: linear-gradient(to right, #4654a2, #70c6ac 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-blue-teal {
  background-color: #fff;
  background: linear-gradient(to right, rgba(70, 84, 162, 0.15), rgba(112, 198, 172, 0.15) 80%); }

.text-gradient-teal-green {
  color: #70c6ac;
  background: linear-gradient(to right, #70c6ac, #9bca3b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-teal-green {
  background-color: #fff;
  background: linear-gradient(to right, rgba(112, 198, 172, 0.15), rgba(155, 202, 59, 0.15) 80%); }

.text-gradient-green-orange {
  color: #9bca3b;
  background: linear-gradient(to right, #9bca3b, #f4825b 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.bg-gradient-green-orange {
  background-color: #fff;
  background: linear-gradient(to right, rgba(155, 202, 59, 0.15), rgba(244, 130, 91, 0.15) 80%); }

/*
  Utility mixins and functions
--------------------------------------------------*/
.brushed-top::before, .brushed::before, footer::before {
  content: '';
  background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
  height: 80px;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
  transform: scaleY(-1) scaleX(-1); }

.brushed-bottom::after, .brushed::after {
  content: '';
  background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0; }

.bg-gradient-blue-orange, #header.page-service.affixed {
  background: linear-gradient(to right, #277f83 20%, #ffcdbd 100%); }

.bg-gradient-gray-lightblue {
  background: linear-gradient(to right, #2a3e3f, #b8f6f9); }

.bg-gradient-darkorange-lightorange {
  background: linear-gradient(to right, #f05e2c, #fbd7cb); }

.bg-gradient-darkgray-lightgray {
  background: linear-gradient(to right, #4e6465, #bacece); }

.bg-gradient-orange-lightblue, #header.page-playbook.affixed {
  background: linear-gradient(to right, #f05e2c, #72d0d5); }

.bg-gradient-purple-lightblue, #header.page-about.affixed {
  background: linear-gradient(to right, #ae3378, #72d0d5); }

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  font-size: 17px;
  box-sizing: border-box;
  height: 100%;
  line-height: 1.6;
  font-family: 'Fira Sans';
  font-weight: 200;
  color: #666770;
  background-color: #fff; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a, a:visited, a:link {
  text-decoration: none;
  color: #9bca3b; }

sup {
  color: red; }

p {
  font-weight: 300; }

.u-img-responsive {
  max-width: 100%;
  height: auto; }

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.row.display-flex > [class*='column'] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  float: none;
  padding: 0.5rem;
  margin-left: 0px; }

@media only screen and (min-width: 320px) and (max-width: 560px) {
  body {
    -webkit-text-size-adjust: none; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  letter-spacing: normal;
  line-height: 1.1; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.display-1 {
  font-size: 6rem; }

.display-2 {
  font-size: 5.5rem; }

.display-3 {
  font-size: 4.5rem; }

.display-4 {
  font-size: 3.5rem; }

@media (min-width: 550px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1.5rem; }
  h5 {
    font-size: 1.25rem; }
  h6 {
    font-size: 1rem; } }

section {
  position: relative;
  padding: 40px 0px 40px 0px;
  margin: 0 auto; }
  section h5 {
    color: #f4825b; }
  section h3 {
    font-weight: 400; }
  section.callout {
    color: #fff;
    margin-top: 25px; }
    section.callout p {
      font-size: 1.8rem;
      line-height: 1.2;
      margin: 0px 0px 2.5rem;
      opacity: .8; }
    section.callout h3 + p {
      font-size: 1.2rem;
      padding: 0; }
  section.callout.bg-gray, section.brushed.bg-gray {
    background-color: #a0bbbc;
    padding: 50px 0; }
    section.callout.bg-gray::after, section.brushed.bg-gray::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0; }
    section.callout.bg-gray::before, section.brushed.bg-gray::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -25px;
      left: 0;
      transform: scaleY(-1) scaleX(-1); }
  section.callout.bg-green, section.brushed.bg-green {
    background-color: #95b25b;
    padding: 50px 0; }
    section.callout.bg-green::after, section.brushed.bg-green::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0; }
    section.callout.bg-green::before, section.brushed.bg-green::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -25px;
      left: 0;
      transform: scaleY(-1) scaleX(-1); }
  section.callout.bg-blue, section.brushed.bg-blue {
    background-color: #839fa0;
    padding: 50px 0; }
    section.callout.bg-blue::after, section.brushed.bg-blue::after {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0; }
    section.callout.bg-blue::before, section.brushed.bg-blue::before {
      content: '';
      background: url(../images/brush-stripe-white.svg) no-repeat top left/100%;
      height: 80px;
      width: 100%;
      position: absolute;
      top: -25px;
      left: 0;
      transform: scaleY(-1) scaleX(-1); }
  section.hero {
    padding-top: 20vh;
    padding-bottom: 100px;
    margin: 0; }
  section.page-top {
    padding: 60px 0 45px; }
    section.page-top h2 {
      margin: 1.2em 0px .5em;
      color: #fff;
      opacity: .7;
      font-weight: 700; }
    section.page-top p.page-leader {
      color: #fff; }

@media (min-width: 550px) {
  #header.page-service .nav__list a.nav-link {
    color: #226e72; }
    #header.page-service .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-service .nav__list a.nav-link.current {
      color: #fff; } }

#header.page-careers.affixed {
  background: linear-gradient(to right, #2a3e3f, #b8f6f9); }

@media (min-width: 550px) {
  #header.page-careers .nav__list a.nav-link {
    color: #226e72; }
    #header.page-careers .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-careers .nav__list a.nav-link.current {
      color: #fff; } }

@media (min-width: 550px) {
  #header.page-playbook .nav__list a.nav-link {
    color: #226e72; }
    #header.page-playbook .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-playbook .nav__list a.nav-link.current {
      color: #fff; } }

@media (min-width: 550px) {
  #header.page-about .nav__list a.nav-link {
    color: #226e72; }
    #header.page-about .nav__list a.nav-link:hover {
      color: #f5f5f5; }
    #header.page-about .nav__list a.nav-link.current {
      color: #fff; } }

footer {
  position: relative;
  background-color: #444;
  color: #9E9E9E;
  min-height: 150px;
  padding-top: 90px;
  margin-top: 25px; }
  footer::before {
    background-color: #fff;
    padding: 50px 0 0 0; }
  footer .heading {
    color: #ddd;
    margin-bottom: .2em; }
  footer p {
    font-weight: 200 !important;
    font-size: .9em !important; }
  footer address {
    font-size: .9em;
    font-weight: 200; }
  footer .oci-logo {
    height: 1.2em;
    vertical-align: middle; }
  footer .footer-logo {
    height: 2em;
    opacity: .7; }

.section h5 {
  color: #95b25b; }

.hide {
  display: none; }

.slide-up {
  top: -60px !important; }

.slide-down {
  top: 0px !important; }

.centered {
  text-align: center; }

.strike-through {
  color: #e22f2f;
  opacity: .5;
  text-decoration: line-through; }

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

p.quote {
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  color: #95b25b; }

p.page-leader {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.25;
  width: 80%; }
  @media (max-width: 550px) {
    p.page-leader {
      width: 100%; } }

@media (max-width: 550px) {
  p.primary {
    font-size: 1rem; } }

ul.list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.list li {
    position: relative;
    padding-left: 16px; }
    ul.list li::before {
      height: 8px;
      width: 8px;
      background-color: #a0bbbc;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      position: absolute;
      top: 8px;
      left: 0px; }
